@import './colours.scss';

h1 {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 0.417rem;
    line-height: 4.8rem;
}

h2 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.5rem;
}

h3, .h2-small {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.5rem;
}

h4 {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    line-height: 1.6rem;
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.font-normal {
    font-weight: 400;
}

.font-bold {
    font-weight: 700;
}

.large-only, .tablet-only {
    display: none;
}

.button {
    border: none;
    font-weight: 700;
    height: 4.8rem;
    letter-spacing: 0.25rem;
    line-height: 2rem;
    text-align: center;
    width: 31.1rem;
}

.button-dark {
    background-color: $black;
    color: $white;

    &:hover {
        background-color: $light-grey;
        color: $black;
    }
}

.button-no-border {
    background-color: transparent;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    line-height: 1.562rem;
    text-align: left;
    width: auto;

    &:after {
        content: url('../assets/shared/desktop/arrow.svg');
        padding-left: 1.8rem;
        vertical-align: middle;
    }

    a {
        color: $black;
        text-decoration: none;
    }

    &:hover {
        text-decoration: underline;
    }
}

.button-no-border-light {
    color: $white;
    &:after {
        content: url('../assets/shared/desktop/arrow-light.svg');
    }

    a {
        color: $white;
    }
}

.opacity-50 {
    opacity: 0.5;
}

.opacity-60 {
    opacity: 0.6;
}

.opacity-75 {
    opacity: 0.75;
}

.header {
    padding: 1.5rem 1rem;
}

.mobile-header {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;
}

.large-header {
    display: none;
}

#menu-toggle {
    display: none;
}

.logo {
    flex-basis: 50%;
    height: 1.6rem;
}

.toggle {
    max-height: 1.6rem;
    vertical-align: top;
}

.menu-toggle {
    display: inline-block;
    text-align: right;
    flex-basis: 40%;
    max-height: 1.6rem;
}

#menu {
    flex-basis: 100%;
    max-height: 0;
    min-width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;

    .menu-link {
        color: $black;
        font-weight: 700;
        height: 2rem;
        letter-spacing: 0.25rem;
        line-height: 2rem;
        margin: 2rem 0;
        text-decoration: none;
    }

    .menu-button {
        border-top: 1px solid rgba($color: $black, $alpha: 0.3);
        margin-top: 2rem;
        padding-top: 2rem;
    }
}

.menu-items {
    margin: 1rem 0;

    &:first-child {
      margin-top: 2.5rem;
    }
}

.tablet-menu-items, .large-menu-items-wrapper {
    .menu-link {
        color: $black;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 0.2rem;
        line-height: 1.562rem;
        text-decoration: none;
    }
}

.large-menu-items {
    width: 12rem;
}
  
#menu-toggle:checked + #menu {
    max-height: 100%;
}

.large-menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1.6rem 4rem;
}

.sub-menu {
    flex-grow: 1;
}

.large-menu-items-wrapper {
    display: none;
}

.story-card-dark {
    background-color: $black;
    color: $white;
}

.story-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7.2rem 2.4rem 7.2rem 3.3rem;
    position: relative;
}

.highlight {
    height: 0.6rem;
    background-image: linear-gradient(to bottom left, $main-accent-1, $main-accent-2, $main-accent-3);
    position: absolute;
    top: -0.8rem;
    width: 12.8rem;

    &.hide {
        display: none;
    }
}

.story-card-img {
    width: 100%;
}

.story-card-content-tagline {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    line-height: 1.562rem;
    margin-bottom: 1.6rem;
}

.story-card-content-intro {
    font-size: 3.2rem;
    line-height: 4rem;
    margin-bottom: 1.6rem;
}

.story-card-content-date-author {
    font-size: 1.3rem;
    line-height: 1.693rem;
    margin-bottom: 2.4rem;
}

.story-card-content-author {
    margin-left: 1rem;
}

.story-card-content-text {
    margin-bottom: 2.3rem;
}

.photo-card {
    position: relative;
}

.photo-card-img {
    display: block;
    min-height: 100%;
    object-fit: cover;
    min-width: 100%;
}

.gradient {
    background-image: linear-gradient(to top, rgba($color: $black, $alpha: 0.7), transparent);
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.photo-card-description {
    bottom: 4rem;
    color: $white;
    left: 3.3rem;
    position: absolute;
    z-index: 4;
}

.photo-card-date,
.photo-card-author {
    font-size: 1.3rem;
    line-height: 1.693rem;
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
    width: 80%;
}

.photo-card-author {
    border-bottom: 0.1rem solid rgba($color: $white, $alpha: 0.3);
    padding-bottom: 1.6rem;
}

.photo-card + .info-card {
    margin-top: 8rem;
}

.info-card {
    margin: 5.6rem 3.3rem;
    text-align: center;

    h3 {
        margin-bottom: 1.6rem;
        margin-top: 4.8rem;
    }
}

.footer {
    background-color: $black;
    color: $white;
    padding: 5.6rem 3.3rem;
    text-align: center;
}

.footer-large {
    display: none;
}

.social-media-icons-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 3.2rem auto 4.9rem auto;
    max-width: 15.2rem;
}

.site-links-list {
    margin-bottom: 11.9rem;
}

.site-links-list-large {
    display: none;
}

.site-links {
    list-style-type: none;
    margin-bottom: 1.9rem;

    a {
        color: $white;
        font-size: 1.2rem;
        letter-spacing: 0.2rem;
        line-height: 1.562rem;
        text-decoration: none;
    }
}

.copyright {
    line-height: 1.9rem;
    margin-top: 3.4rem;
}

.copyright-wrapper, .logo-wrapper {
    display: flex;
    justify-content: space-between;
}

.beta {
    position: relative;
}

.beta-img {
    display: block;
    min-height: 100%;
    object-fit: cover;
    min-width: 100%;
}

.beta-content {
    bottom: 5.6rem;
    color: $white;
    left: 3.3rem;
    position: absolute;
    top: 5.6rem;
}

.beta-tagline {
    font-size: 3.2rem;
    letter-spacing: 0.33rem;
    line-height: 4rem;
}

.highlight-beta {
    height: 0.6rem;
    background-image: linear-gradient(to bottom left, $main-accent-1, $main-accent-2, $main-accent-3);
    left: 3.3rem;
    position: absolute;
    top: 0;
    width: 12.8rem;
}

.price-toggle-wrapper {
    display: flex;
    justify-content: space-around;
    margin: 6.4rem 6rem;
}

.price-toggle-text {
    font-size: 1.8rem;
    line-height: 2.5rem;
}

.price-toggle {
    display: inline-block;
    height: 3.2rem;
    position: relative;
    width: 6.4rem;

    .price-toggle-input {
        height: 0;
        opacity: 0;
        width: 0;
    }
}

.slider {
    background-color: $light-grey;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: .4s;
    transition: .4s;

    &::before {
        background-color: $black;
        bottom: 0.4rem;
        content: "";
        height: 2.5rem;
        left: 0.6rem;
        position: absolute;
        -webkit-transition: .4s;
        transition: .4s;
        width: 2.5rem;
    }
}

.price-toggle-input:checked + .slider {
    background-color: $black;
}

.price-toggle-input:focus + .slider {
    box-shadow: 0 0 0.1rem $light-grey;
}

.price-toggle-input:checked + .slider:before {
    background-color: $white;
    -webkit-transform: translateX(2.7rem);
    -ms-transform: translateX(2.7rem);
    transform: translateX(2.7rem);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.price-card {
    background-color: $light-grey;
    margin: 5.6rem 2.9rem;
    padding: 5.6rem 2rem 4rem;
    position: relative;
    text-align: center;

    h2 {
        margin-bottom: 18px;
    }

    .button {
        height: 4rem;
        margin-top: 4rem;
        width: 24.5rem;
    }
}

.price-card-dark {
    background-color: $black;
    color: $white;
}

.price-card-highlight {
    height: 0.6rem;
    background-image: linear-gradient(to bottom left, $main-accent-1, $main-accent-2, $main-accent-3);
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.pricetag {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 0.417rem;
    line-height: 4.8rem;
    margin-bottom: 2.5rem;
    margin-top: 4rem;
}

.features-wrapper {
    margin: 6.4rem 3.3rem;

    .features-header {
        padding-bottom: 2.3rem;
    }

    h1 {
        margin-bottom: 6.4rem;
        text-align: center;
    }
}

.feature-card {
    border-bottom: 0.1rem solid $light-grey;
    padding-bottom: 2.3rem;
    padding-top: 2.4rem;
}

.version-wrapper {
    display: flex;
}

.version {
    font-size: 1rem;
    letter-spacing: 0.167rem;
    line-height: 1.302rem;
    margin-right: 7rem;
    margin-top: 1.65rem;

    img {
        margin-top: 0.8rem;
    }
}

@media only screen and (min-width: 768px) {
    .mobile-only {
        display: none;
    }

    .tablet-only {
        display: block;
    }
    
    .button {
        height: 4rem;
        width: 15.8rem;
    }

    .button-no-border {
        width: auto;
    }

    .mobile-header {
        display: none;
    }

    .large-header {
        display: block;
    }

    .story-card {
        display: flex;
    }

    .highlight {
        height: 33%;
        left: 0;
        top: 33%;
        width: 0.6rem
    }

    .story-card-content {
        max-width: 65rem;
        padding: 17.3rem 5.4rem;
    }

    .story-card-content-intro {
        font-size: 4rem;
        letter-spacing: 0.417rem;
        line-height: 4.8rem;
        margin-bottom: 2.1rem;
    }

    .story-card-content-text {
        margin-bottom: 4.8rem;
    }

    .info-card {
        margin: 12rem auto;
        max-width: 45.7rem;
    }

    .photo-cards, .info-cards {
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;

        .info-card {
            flex-basis: 50%;
            margin: 7.2rem 0 0 0;
        }
    }

    .info-cards {
        margin: 11.2rem 3.8rem 11.2rem 1.1rem;
    }

    .info-card-img {
        height: 7.2rem;
    }

    .photo-card {
        flex-basis: 50%;
    }

    .footer-mobile {
        display: none;
    }

    .footer-large {
        display: block;
        padding-bottom: 1.5rem;
        text-align: left;
    }

    .site-links-list {
        display: flex;
        margin-bottom: 4rem;
    }

    .site-links {
        margin-right: 2.6rem;
        margin-top: 3.2rem;
    }

    .social-media-icons-wrapper {
        margin-left: 0;

        a {
            margin-right: 1.3rem;
        }
    }

    .absolute {
        max-width: 65%;
        padding-top: 12.2rem;
        position: absolute;
    }

    .beta-content {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding-left: 3.3rem;
        padding-right: 3.3rem;
    }

    .beta-tagline {
        flex-basis: 60%;
        font-size: 4rem;
        letter-spacing: 0.417rem;
        line-height: 4.8rem;
    }

    .price-toggle-wrapper {
        margin: 11.2rem auto 4rem;
        width: 50%;
    }

    .price-card {
        display: flex;
        justify-content: space-between;
        padding: 4rem;
    }

    .price-card-content {
        flex-basis: 50%;
        text-align: left;
    }

    .price-card-price-wrapper {
        text-align: right;
    }

    .price-card-highlight {
        height: 100%;
        width: 0.6rem;
    }

    .pricetag {
        margin-bottom: 0;
        margin-top: 0;
    }

    .feature-card {
        display: flex;
        justify-content: space-around;
    }

    .version {
        flex-basis: 33%;
        margin: 0 auto;
        text-align: center;
    }

    .feature-headers {
        border-bottom: 0.1rem solid $black;
        display: flex;
        justify-content: space-around;
    }

    .features-header, .feature-name {
        flex-basis: 60%;
    }

    .feature-header {
        flex-basis: 33%;
    }

    .version-headers, .version-wrapper {
        display: flex;
        flex-basis: 40%;
        justify-content: space-around;
        text-align: center;
    }
}

@media only screen and (min-width: 999px) {
    .header {
        padding-bottom: 0;
        padding-top: 0;
    }

    .large-only {
        display: block;
    }

    .tablet-only {
        display: none;
    }
    
    .large-menu {
        padding: 1.6rem 16.5rem;
    }
    
    .photo-card {
        flex-basis: 25%;
    }

    .home-info-cards {
        display: flex;
        justify-content: space-around;
        margin-left: 16.5rem;
        margin-right: 16.5rem;

        .info-card {
            flex-basis: 30%;
        }
    }

    .info-cards {
        justify-content: space-between;
        margin-left: 16.5rem;
        margin-right: 16.5rem;

        .info-card {
            flex-basis: 33%;
            padding: 1rem;
        }
    }

    .story-card-content {
        max-width: 61rem;
        padding-left: 11.2rem;
        padding-right: 11.2rem;
    }

    .footer-large {
        padding-left: 16.5rem;
        padding-right: 16.5rem;
    }

    .large-menu-items-wrapper {
        display: flex;
        flex-basis: 30%;
        justify-content: center;
    }

    .tablet-menu-items {
        display: none;
    }

    .absolute {
        max-width: 42%;
    }
    .site-links-list {
        display: none;
    }

    .site-links-list-large {
        display: block;
    }

    .site-links {
        margin-top: 1.9rem;
    }
    
    .logo-site-links-wrapper {
        align-items: baseline;
        display: flex;
        flex-basis: 33%;
        justify-content: space-between;
    }

    .copyright-wrapper {
        margin-top: -7rem;
    }

    .feature-headers, .feature-card {
        margin: 0 auto;
        max-width: 73.1rem;
    }

    .price-cards {
        display: flex;
        justify-content: space-evenly;
    }

    .price-card {
        margin-left: 0;
        margin-right: 0;
        padding-top: 5.6rem;
    }

    .price-card-dark {
        margin-bottom: 0;
        margin-top: 0;
        padding-bottom: 7.1rem;
        padding-top: 11.2rem;
    }

    .price-card-content {
        flex-basis: auto;
        text-align: center;

        .price-card-text {
            max-width: 27rem;
            margin-bottom: 4rem;
        }
    }

    .price-card-price-wrapper {
        text-align: center;
    }

    .price-card-highlight {
        height: 0.6rem;
        width: 100%;
    }

    .price-toggle-wrapper {
        width: 20%;
    }
}