@import './colours.scss';

h1 {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 0.417rem;
    line-height: 4.8rem;
}

h2 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.5rem;
}

h3 {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.5rem;
}

h4 {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    line-height: 1.6rem;
}

.button {
    border: none;
    font-weight: 700;
    height: 4.8rem;
    letter-spacing: 0.25rem;
    line-height: 2rem;
    text-align: center;
    width: 31.1rem;
}

.button-dark {
    background-color: $black;
    color: $white;

    &:hover {
        background-color: $light-grey;
        color: $black;
    }
}

.button-no-border {
    background-color: transparent;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    line-height: 1.562rem;
    text-align: left;

    &:after {
        content: url('../assets/shared/desktop/arrow.svg');
        padding-left: 1.8rem;
        vertical-align: middle;
    }

    a {
        color: $black;
        text-decoration: none;
    }

    &:hover {
        text-decoration: underline;
    }
}

.button-no-border-light {
    &:after {
        content: url('../assets/shared/desktop/arrow-light.svg');
    }

    a {
        color: $white;
    }
}

.header {
    padding: 1.5rem 1rem;
}

.mobile-header {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;
}

#menu-toggle {
    display: none;
}

.logo {
    flex-basis: 50%;
    height: 1.6rem;
}

.toggle {
    max-height: 1.6rem;
    vertical-align: top;
}

label {
    display: inline-block;
    text-align: right;
    flex-basis: 40%;
    max-height: 1.6rem;
}

#menu {
    flex-basis: 100%;
    max-height: 0;
    min-width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;

    .menu-link {
        color: $black;
        font-weight: 700;
        height: 2rem;
        letter-spacing: 0.25rem;
        line-height: 2rem;
        margin: 2rem 0;
        text-decoration: none;
    }

    .menu-button {
        border-top: 1px solid rgba($color: $black, $alpha: 0.3);
        margin-top: 2rem;
        padding-top: 2rem;
    }
}

.menu-items {
    margin: 1rem 0;

    &:first-child {
      margin-top: 2.5rem;
    }
}
  
#menu-toggle:checked + #menu {
    max-height: 100%;
}

.story-card-dark {
    background-color: $black;
    color: $white;
}

.story-card-content {
    padding: 7.2rem 2.4rem 7.2rem 3.3rem;
}

.story-card-content-intro {
    font-size: 3.2rem;
    line-height: 4rem;
    margin-bottom: 1.6rem;
}

.story-card-content-text {
    margin-bottom: 2.3rem;
}